
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
    {
        font-family: Poppins;
        width:1297px;
        height: 1150px;
        display: flex;
        /*align-items: center;*/
        justify-content: center;
    }
#page
    {   
        position: fixed;
        /*background-color: black;*/
        filter: blur(15px);
        background-image: url("images/mg.jpg");
        width:1297px;
        height: 1200px;
    }
#homemain
    {   position: absolute;
        top: 50px;
        /*z-index: 2;*/
        position: relative;
        bottom: 50px;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        /*border: 1px solid black;*/
        width: 900px;
        height: 450px;
    }
button
    {
        border: none;
        background-color: transparent;
    }
#hometop
    {
        /*z-index: 2;*/
        /*border: 1px solid gray;*/
        height: 40px;
        width: 750px;
        /*background-color: rgb(12, 12, 12, 0.5);*/
        /*display: flex;
        align-content: center;
        justify-content: center;*/
        /*z-index: 2;*/
        display: flex;
        align-items: center;
        justify-content: center;        
        border-top: 1px solid gray;
        /*border-bottom: 3px solid gray;*/        
        padding-bottom: 20px;
        padding-top: 10px;
        transform: scale(0.8);        
    }
#hometop > *
{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    /*width: 30px;
    height: 30px;
    margin: 3px;
    padding: 3px;*/
    width: 150px;
    height: 50px;
    margin: 3px;
    /*border: 1px solid white;*/
    /*border-radius: 20px;*/
    color: white;
    /*background-image: linear-gradient(to bottom, transparent, rgb(221, 221, 2, 0.5));*/
    /*background-color: rgb(221, 221, 2);*/
}
.hometopkids > *
    {
        display: flex;
        align-items: center;
        justify-content: center;
        /*border: 1px solid white;*/
        width: 100px;
        height: 5px;
    }
.topIcons:hover
    {
        transition: 0.5s;
        scale: 1.2;
        /*border: 1px solid white;*/
    }
.topIcons
{
    /*display: inline-flex;
    align-items: center;
    justify-content: center;*/
    /*position: absolute;*/
    width:25px;
    margin: 3px;
    padding: 3px;
    /*border: 1px solid white;*/
    border-radius: 3px;
}
.number
    {

        /*display: flex;*/
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        /*bottom: 10px;*/
        top: 6px;
        left: 12px;
        font-size: x-small;
        font-weight: bolder;
        /*border: 1px solid transparent;*/
        height: 15px;
        width: 15px;
        border-radius: 8px;
        background-color: rgb(159, 159, 228);
        background-color: darkblue;
        color: white;
        
    }
#homemiddle
    {
        /*z-index: 2;*/
        display: grid;
        grid-template-columns: auto auto auto auto ;
        height: 850px;
        /*grid-template-columns: auto auto auto auto auto auto;
        height: 570px;*/
        gap: 10px;
        align-items: center;
        justify-content: center;
        /*border: 1px solid white;*/
        /*box-shadow: 2px 2px 10px 1px rgb(41, 40, 40);*/
        top: 140px;
        width: 750px;
    }
#homebottom
    {
        /*z-index: 2;*/
        border: 1px solid transparent;
        height: 50px;
        width: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1000px;
        color: gray;

    }
#homebottom > *
    {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 15px;
        margin: 3px;
        padding: 3px;
        border: 1px solid gray;
        border-radius: 3px;
        font-size: small;
    }
.grids
    {   
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        border: 1px solid grey;
        width: 150px;
        height: 250px;
        padding: 10px;
        border-radius: 5px;
    }

.grids2
    {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        border: 1px solid white;
        width: 150px;
        height: 250px;
        padding: 10px;
        border-radius: 5px;
    }

a   {text-decoration: none;}    
.small
    {
        height: 210px;
        width: 150px;
        object-fit: cover;
        border-radius: 5px;
    }
#ver
    {
        
        position: relative;
        bottom: 213px;
        right: 10px;
        padding-bottom: 2px;
        padding-top: 2px;
        width: 30px;
        height: 30px;
        /*background-color: white;*/
        border-style: hidden;
        /*border: 1px solid white;*/
        font-size: x-small;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        /*transform: rotate(-45deg) ;*/
        
    }
#homeuser
    {
        position: relative;
        bottom: 35px;   
        /*border: 1px solid black;*/
        color:grey;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        /*float: right;*/
        display: inline-flex;
        
    }
#legit
    {

        margin-top: auto;
        margin-bottom: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border-style: hidden;
        background: blue;
        color: white;
        font-size: xx-small;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        /*transform: rotate(-45deg) ;*/        
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
    }
#vrfy
    {
        right: 0%;
        margin: 2px;
        border-radius: 4px;
        width: 50px;
        padding: 2px;
        color: white;
        font-size: x-small;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        /*border: 1px solid white ;*/
        position: relative;
        right: 20px;
    }    
#rating
    {
        float: left;
        border: transparent;
        width: 50px;
    }
#verified
    {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 35px;
        /*border: 1px solid white;*/
        display: grid;
        grid-template-columns: auto auto;
        /*gap: 20px;*/
        width: 150px;
        
    }





































    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



    body
        {
            width:1297px;
            height: 1200px;
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: Poppins;
        }
    #background
        {
            position: fixed;
            /*background-color: black;*/
            filter: blur(15px);
            background-image: url("images/mg.jpg");
            width:1297px;
            height: 1200px;
        }   
   
    a   {text-decoration: none;}    
    /*Gallery*/    
    button
        {
            background-color: transparent;
            border: none;
            outline: none;
        }
    #pictures
        {
            /*border: 1px solid white;*/
            border-top: hidden;
            border-bottom: hidden;
            width: 908px;
            height: 617px;        
        }
    
    .pics
        {
            border-radius: 2px;
            height: 155px;
            width: 120px;
            /*
            object-fit: cover;
            */
        }        
    
    .box4:hover
        {
            
            transition-duration:0.5s;
            transform: scale(1.8);
            
        }
    #aContainer
    {
        height: 147px;
        width: 114px;  
        border-radius: 2px;
        background-color: rgb(20, 20, 20, 0.3); 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .albumContainer
        {
            height: 80px;
            width: 114px;  
            border-radius: 2px;
            /*background-color: rgb(20, 20, 20, 0.3); */
    
            color: white;
    
            display: grid;
            grid-template-columns: auto;
            /*align-items: center;*/
            justify-content: center;
        }
    
    #al
        {
            width: 114px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    #cContainer
    {
        width: 114px;  
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .cameraContainer
        {
    
            top: 44px;
            height: 15px;
            width: 15px;  
            border-radius: 3px;
            padding: 1px;
            /*background-color: rgb(20, 20, 20, 0.5); */
            background-color: transparent;
            /*Only for album container*/
            border: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            
                    
                     
        }
    
    .camera    
        {
            width: 10px;
        }
    
    .pics
    {
        border-radius: 2px;
        height: 155px;
        width: 120px;
        object-fit: cover;
    }
    
    
    #main
    {
        position: absolute;
        top: 120px;
        display: grid;
        grid-template-columns: auto ;
        gap: 100px;
        margin-left: 20px;
        /*align-items: center;*/
        justify-content: center;
        /*border: 1px solid gray;
        border-left: 1px solid white;
        border-right: 1px solid white;*/
        width:800px;
        height: 500px; 
        padding-top: 20px;
    }
    
    #top
        {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            position: relative;
            right: 50px;
            bottom: 38px;
            /*left: 200px;*/
            width: 324px;
            /*padding-left: 50px;*/
            height: 494px;
            /*border: 1px solid white;*/
        }
    
    #top > *
        {
            width: 285px;
            /*border: 1px solid yellow;*/
    
        }
    .box4 > * :hover
        {
            transform: scale(1.08);
            transition-duration: 1s;
        }
    .box4
    {
        position: relative;
        top: 100px;
        /*left: 50px;*/
        border-radius: 4px;
        height: 155px;
        /*width: 120px;*/
        /*box-shadow: 0.1em 0.1em 0.9em rgb(75, 74, 74);
        box-shadow: 0.3em 0.3em 0.9em rgb(75, 74, 74);*/
        transform: scale(1.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box4 > *
        {
            /*display: flex;
            align-items: center;
            justify-content: center;*/
            position: absolute;
        }
    
    #under
        {
            position: relative;
            top: 170px;
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            /*margin-left: 46px;*/
            height: 40px;
            /*width: 227px;*/
        }
    
    /*AboutMe*/
    #aboutMe
        {   
            position: relative;
            top: 170px;
            /*right: 30px;*/
            /*width: 285px;*/
            height: 111px;
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: small;
        }
    
    
    #links
        {
            position: relative;
            bottom: 250px;
            left: 310px;
            /*width: 195px;*/
            height: 278px;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            display: block;
            grid-template-columns: auto auto;
        }
    #links > *
        {
            width: 29px;
            position: relative;
            margin-bottom: 10px;
            display: block;
            justify-content: center;
            display: block;
        }
    #call{width: 33px;}
    #links > *:hover
        {
            transition-duration:0.5s;
            transform: scale(1.2);
        }
    
    #add_fav :hover
        {
            transition-duration:0.5s;
            transform: scale(1.05);
        }
    
    
    #add_fav
        {
            position: absolute;
            left: 295px;
            top: 210px;
            display: grid;
            grid-template-columns: auto;
            border: 1px solid gray;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            width: 100px;
            height: 100px;
    
        }
    
    #add_fav >*
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    #f_pic_container
        {
            border: 1px solid transparent;
            width: 80px;
            height: 50px;
        }
    #fv_pic{width: 40px;}
    #ad2_f
        {
            border: 1px solid transparent;
            width: 80px;
            height: 20px;
            color: gray;
            font-weight: bold;
            margin-bottom: 10px;
        }
    #x
        {
            position: relative;
            right: 10px;
            bottom: 11px;
            width: 49px;
    
        }
    
    
    
    /*services*/
    #services
        {
            display: none;
            /*position: absolute;
            top: 105px;
            left: 0px;*/
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 40px;
            border:1px solid transparent;
            width: 324px;
            height: 494px;
            border-radius: 7px;
            overflow: hidden;
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
        }
    
    #onlne
        {
    
            position: relative;
            top: 11px;
            right: 31px;
            width: 113px;
            height: 20px;
            border: 1px solid transparent;
            background-color: yellow;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: small;
            align-items: center;
            justify-content: center;
            display: flex;
            transform: rotate(-45deg);
        }
    
    #profil
        {
            top: 351px;
            border: 1px solid transparent;
            width: 50px;
            height: 9px;
            border-radius: 3px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: x-small;
            color: antiquewhite;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: rgb(59, 59, 161);
        }
    #rating2 > *:hover
        {
            transition-duration:0.5s;
            transform: scale(1.2);
        }
        #rating2
        {
            top: 327px;
            border: 1px solid transparent;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    #rating
        {
            top: 327px;
            border: 1px solid transparent;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    textarea
    {
        border-color: transparent;
        outline: white;
    
    }
    
    form
    {
        position: relative;
        bottom: 120px;
        display: grid;
        grid-template-columns: auto;
        width: 324px;
    }
    
    #services_form
        {
            position: relative;
            bottom: 120px;
            display: grid;
            grid-template-columns: auto;
            width: 324px;
        }
    
    #txt
        {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-radius: 20px;
            padding-left: 15px;
            padding-right: 15px;
            resize: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: small;
            overflow-y: hidden;
            color: rgb(109, 108, 108);
        }
    #txt2
        {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-radius: 20px;
            padding-left: 15px;
            padding-right: 15px;
            resize: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: small;
            overflow-y: hidden;
            color: rgb(109, 108, 108);
        }
    
    #snd2
        {
            position: relative;
            left: 240px;
            height: 25px;
            width: 58px;
            color: white;
            background-color: rgb(59, 59, 161);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: small;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 15px;
            
        }    
    
    #snd
        {
            position: relative;
            left: 240px;
            height: 25px;
            width: 58px;
            color: white;
            background-color: rgb(59, 59, 161);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: small;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 15px;
            
        }
    
    
    #username
        {
            border: 1px solid transparent;
            height: 20px;
            width: 324px;
            color:grey;
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
            /*float: right;*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
    #legit
        {
            margin-top: auto;
            margin-bottom: auto;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border-style: hidden;
            background: blue;
            color: white;
            font-size: xx-small;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            /*transform: rotate(-45deg) ;*/        
            overflow: visible;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    #prices
        {
            border: 1px solid transparent;
            width: 259px;
            height: 296px;
            margin-top: 50px;
            margin-left: 45px;
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: 162px 70px;
            grid-row-gap: 1px;
        }
    #prices > *
        {
            border: 1px solid white;
            height: 15px;
            border-color: grey;
        }
    #prices :nth-child(odd)
        {
            border: none;
            color: rgb(184, 181, 181);
            margin-bottom: 5px;
        }
    #prices :nth-child(even)
        {
            color: rgb(184, 181, 181);        
        }
    .srv  
        {   
            /*font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;*/
            font-size: small;
            color: white;
        }
    .value
        {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: x-small;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            /*padding-left: 5px;*/
            width: 70px;
            border-radius: 4px;
            border-color: black;
        }
    #profilegrid
        {
            z-index: 1;
            margin-top: 50px;
            border: 1px solid transparent;
            width: 1297;
            height: 900px;
            display: flex;
            /*align-items: center;*/
            justify-content: center;
        
        }

    #profilegrid >*
        {
            position: absolute;
        }

        #hometop
        {
            /*z-index: 2;*/
            /*border: 1px solid gray;*/
            height: 40px;
            width: 900px;
            /*background-color: rgb(12, 12, 12, 0.5);*/
            /*display: flex;
            align-content: center;
            justify-content: center;*/
            /*z-index: 2;*/
            display: flex;
            align-items: center;
            justify-content: center;        
            border-top: 1px solid gray;
            /*border-bottom: 3px solid gray;*/        
            padding-bottom: 20px;
            padding-top: 10px;
            transform: scale(0.8);  
            
            position: absolute;      
        }
    #hometop > *
    {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        /*width: 30px;
        height: 30px;
        margin: 3px;
        padding: 3px;*/
        width: 150px;
        height: 50px;
        margin: 3px;
        /*border: 1px solid white;*/
        /*border-radius: 20px;*/
        color: white;
        /*background-image: linear-gradient(to bottom, transparent, rgb(221, 221, 2, 0.5));*/
        /*background-color: rgb(221, 221, 2);*/
    }
    .hometopkids > *
        {
            display: flex;
            align-items: center;
            justify-content: center;
            /*border: 1px solid white;*/
            width: 100px;
            height: 5px;
        }
    .topIcons:hover
        {
            transition: 0.5s;
            scale: 1.2;
            /*border: 1px solid white;*/
        }
    .topIcons
    {
        /*display: inline-flex;
        align-items: center;
        justify-content: center;*/
        /*position: absolute;*/
        width:25px;
        margin: 3px;
        padding: 3px;
        /*border: 1px solid white;*/
        border-radius: 3px;
    }
    
    /*
    .number
        {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 6px;
            left: 12px;
            font-size: x-small;
            font-weight: bolder;
            height: 15px;
            width: 15px;
            border-radius: 8px;
            background-color: rgb(159, 159, 228);
            background-color: darkblue;
            color: white;
        }
    */
    
    
    #number_mess
        {
            display: flex;
            /*display: none;*/
            /*text-align: center;*/
            align-items: center;
            justify-content: center;
            position: relative;
            /*bottom: 10px;*/
            top: 6px;
            left: 12px;
            font-size: x-small;
            font-weight: bolder;
            /*border: 1px solid transparent;*/
            height: 15px;
            width: 15px;
            border-radius: 8px;
            background-color: rgb(159, 159, 228);
            background-color: darkblue;
            color: white;
        }
    
    #number_not
        {
            display: flex;
            /*text-align: center;*/
            align-items: center;
            justify-content: center;
            position: relative;
            /*bottom: 10px;*/
            top: 6px;
            left: 12px;
            font-size: x-small;
            font-weight: bolder;
            /*border: 1px solid transparent;*/
            height: 15px;
            width: 15px;
            border-radius: 8px;
            background-color: rgb(159, 159, 228);
            background-color: darkblue;
            color: white;
        }
    
    
    /*    <!-- /////////////////////////////////////massages_container///////////////////////////////////-->*/
    
    
    
    
    #massages_container
        {
            display: none;
            z-index: 2;
            /*position: absolute;
            top: 100px;
            left: 100px;*/
            border: 1px solid transparent;
            backdrop-filter: blur(5px);
            width: 324px;
            height: 494px;
            border-radius: 7px;
            /*float: right;
            overflow-y: scroll;*/
            overflow-x: hidden;
            background-color: black;
            margin-right: 20px;
            margin-top: 10px;
            
        }
    
    #massages_container ::-webkit-scrollbar{display: none;}
    
    
    .sender:hover
        {
            scale: 1.02;
            transition: 0.3s;
    
            /*transform:perspective(200px)  rotateY(-10deg) ;*/
        }
    
    
    .sender 
        {
            display: flex;
            align-items: center;
            border: 1px solid transparent;
            width: 90%;
            height: 40px;
            border-radius: 50px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 7px;
            background-image: linear-gradient(to bottom, rgb(17, 15, 15) ,transparent);
            /*border-bottom: 1px solid gray ;*/
            background-origin: border-box;
        }
    #lv
        {
            position: absolute;
            border: 1px solid yellow;
            width: 8px;
            height: 8px;
            background-color: yellow;
            border-radius: 5px;
            margin-left: 22px;
            margin-bottom: 20px;
        }
    
    #us_lv
    {
        position: absolute;
        top: 10px;
        border: 1px solid yellow;
        width: 8px;
        height: 8px;
        background-color: yellow;
        border-radius: 5px;
        margin-left: 10px;
    }
    
    #usr_name
        {
            font-size: small;
            font-weight: bold;
            color: gray;/*
            color: white;*/
        }
    
    #inbox
        {
            display: none;
        }
    
    .usr_msg
        {
            /*display: inline-flex;*/
            /*margin-top: 4%;*/
            object-fit: cover;
            /*border: 1px solid blue;*/
            /*color: blue;*/
        }
    
    
    
    #profile_pic
        {
            position: relative;
            /*bottom: 10%;*/
            /*right: 3px;*/
            /*border: 2px solid yellow;*/
            margin-right: 5px;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            overflow: hidden;
    
        }
    
    .pc
        {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    
    #user_name
        {
            position: relative;
            left: 4%;
            bottom: 35%;
            /*border: 1px solid black;*/
            width: 40%;
            height: 30%;
            border-radius: 4px;
            font-family: Arial, Helvetica, sans-serif;
    
        }
        
    
    #new_msg
        {
            position: absolute;
            /*bottom:-3%;*/
            display: flex;
            align-items: center;
            justify-content: center;
            /*border: 1px solid black;*/
            background-color: blue;
            width: 40px;
            height: 13px;
            /*height: 30%;*/
            border-radius: 4px;
            margin-left: 227px;
            font-size: 10px;
            font-weight: bold;
            color: white;
            /*text-align: center;*/
        }
    
    
    
    
    #recieved_pic
        {
            position: relative;
            bottom: -19px;
            left: 4%;
            /*border: 1px solid black;*/
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
    
        }
    
    #unread
        {
            position: relative;
            bottom: 2px;
            left: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            /*padding-left: 2%;
            padding-right: 3%;*/
            background-color: yellow;
            height: 10px;
            border-radius: 3px;
            width: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-small;
            color: black;
            font-weight: bold;
            
    
        }
    
    #unread2
        {
            position: relative;
            bottom: 2px;
            left: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid none;
            /*padding-left: 2%;
            padding-right: 3%;*/
            background-color: yellow;
            height: 10px;
            border-radius: 3px;
            width: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-small;
            color: black;
            font-weight: bold;
            
    
        }
    
    #sent_m {margin-right: 20px; }
    #recieved_m {margin-left: 10px; }
    
    .recieved
        {
    
            position: relative;
            left: -7%;
            /*border: 1px solid white;*/
            background-color:transparent;
    /*        background-color:rgb(207, 204, 198);*/
            width: 75%;
            /*border-radius: 10px;*/
            padding: 5px;
            /*height: 10%;*/
            /*border-radius: 50px;*/
            /*border-start-start-radius:20px ;*/
            /*margin-left: auto;
            margin-right: auto;*/
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
            border-left: 3px solid white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            color:white;
        }
    
    
    
    #sent_pic
    {
        position: relative;
        bottom: -13px;
        left: 85%;
        /*border: 1px solid black;
        width: 30px;
        height: 30px;
        border-radius: 50%;*/
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        font-weight: bold;
        color: white;
    
    }
    
    
    .sent
        {
            position: relative;
            left: 20%;
            border-radius: 10px;
            border: 1px solid transparent;
            background-color: rgb(59, 59, 161);
            width: 75%;
            padding: 5px;
            /*height: 10%;*/
            /*border-radius: 50px;*/
            /*border-start-start-radius:20px ;
            margin-left: auto;
            margin-right: auto;*/
            margin-top: 5%;
            /*box-shadow: 0.0em 0.0em 0.5em rgb(75, 74, 74);*/
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            color: white;
        }
    
    
    
    
    /*/////////////////////////////////////////////inbox container///////////////////////////////////*/
    
    
    
    
    #back_out
        {
            z-index: 5;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -1px;
            top: 10px;
            /*border: 1px solid white; */
            width: 100px;
            height: 40px;
            float: right;
            /*background-image: linear-gradient(to bottom, rgb(17, 15, 15) ,transparent);*/
        }
    #back_out > *
        {
            display: flex;
            align-items: center;
            justify-content: center;
            /*border: 1px solid white;*/
            height: 35px;
            width: 35px;
        }    
    #back_out > * :hover
        {   
            transition-duration:0.5s;
            transform: scale(1.1);
        }
    
    #ms_back
        {   display: none;
            height: 30px;
            width: 30px;
        }
    
    #box_close
        {   display: none;
            height: 26px;
            width: 26px;
        }
    
    
    
    
    
    
    #close_msgContainer
        {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 17px;
            right: 12px;
            top: 9px;
            /*border: 1px solid white;*/
            width: 40px;
            height: 40px;
            float: right;
        }
    #close_msgContainer :hover
        {   
            transition-duration:0.5s;
            transform: scale(1.1);
        }
    
    #close_msg
        {   
            height: 26px;
            width: 26px;
        }
    
    #msg_div
        {
            display: none;
            z-index: 2;
            /*position: absolute;
            top: 100px;
            left: 100px;*/
            /*border: 1px solid white;*/
            backdrop-filter: blur(5px);
            /*padding: 5px;*/
            width: 324px;
            height: 494px;
            height: 600px;
            border-radius: 7px;
            /*float: right;*/
            padding-bottom: 20px;

            margin-right: 20px;
            margin-top: 10px;
        }
    #shade
        {
            z-index: 4;
            position: absolute;
            width: 100%;
            height: 50px;
            /*background-color: yellow;*/
            border-radius: 7px;
            background-image: linear-gradient(to bottom, rgb(17, 15, 15) ,transparent);
        }
    
    #in_msg
        {
            display: none;
            z-index: 3;
            /*position: absolute;
            top: 100px;
            left: 100px;*/
            border: 1px solid transparent;
            backdrop-filter: blur(5px);
            /*padding: 5px;*/
            width: 324px;
            height: 400px;
            border-radius: 7px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom-color: transparent;
            padding-top: 50px;
            /*float: right;*/
            overflow-x: hidden;
            /*padding-bottom: 20px;*/
            scroll-padding-bottom: 120;
            background-color: black;
    
        }
    #chat_form
        {
            position: relative;
            bottom: 0px;
            width: 322px;
            padding-bottom: 12px;
            padding-left: 2px;
            border: 1px solid white;
            border-radius: 7px;
            border-top-color: transparent;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            /*backdrop-filter: blur(5px);*/
            
        }
    
    
    
    
    
    
    #close_popkids
        {
            z-index: 3;
            display: none;
            position: absolute;
            top: 100px;
            width:1297px;
            height: 1300px; 
            border: 1px solid transparent;
            background-color: transparent;
        }
    
    /*///////////////////////////////////////////#p_fav/////////////////////////////////////////*/
    
    .popKids
        {
            z-index: 5;
            display: none;
            position: absolute;
            padding: 5px;
            top: 130px;
            border-radius: 7px;
            width: 200px;
            padding-top: 10px;
            backdrop-filter: blur(5px);
            background-color: rgb(8, 8, 8, 0.8);
            /*background-image: linear-gradient(to bottom, white ,rgba(134, 131, 131));*/
            border: 1px solid rgb(39, 38, 38);
        }
    #p_fav
        {
            display: none;
            left: 32%;
            /*backdrop-filter: blur(5px);
            background-color: transparent;*/
    
            
        }
    #p_fav :hover
        {
            transition-duration: 0.3s;
            transform: scale(1.05);
        }
    #p_fav > *   /*  also refered to as .fav_user*/
        {
            display: grid;
            grid-template-columns: auto auto;
            
            font-size: small;
            font-weight: 500;
            color: rgb(2, 2, 59);
            color: white;
            height: 30px;
            width: 90px;
            font-size: small;
            font-weight: bold;
            margin-bottom: 10px;
    
    
    
        }
    .fav_user > *
        {
            /*border: 1px solid black;*/
            height: 30px;
            width: 30px;
        }
    #fav_name
        {
            display: flex;
            align-items: center;
        }
    #f_pic 
        {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 15px;
        }
    #p_not
        {
            display: none;
            left: 42%;
        }
    
    
    
    #p_prof
        {
            display: none;
            left: 732px;
            /*backdrop-filter: blur(5px);
            background-color: transparent;*/
            
    
        }
    #p_prof :hover
        {
            transition-duration: 0.3s;
            transform: scale(1.05);
    
        }
    #p_prof > * 
        {
            display: flex;
            align-items: center;/*
            justify-content: center;*/
            /*font-size: small;
            font-weight: 500;*/
            color: rgb(2, 2, 59);
            color: white;
            width: 200px;
            margin-bottom: 10px;
            padding-top: 10px;
            /*font-size: small;
            font-weight: bold;  */
            
            font-size: smaller;
            font-weight: medium;
    
        }
    
    
    
    
    
    /*////////////////////////////////////////#p_not////////////////////////////////////////*/    
    
    .notify
        {
            color: white;
            /*border: 1px solid white;*/
            padding: 20px;
        }
    #dayt
        {
            text-align: center;
            color: gray;
            font-size: 9px;
            font-weight: 500;
            /*float: right;*/
            /*border: 1px solid white;*/
            
        }
    #n_mass
        {
            text-align: center;
            font-size: smaller;
            font-weight: medium;
            /*border: 1px solid yellow;*/
        }
    
    
    /*/////////////////////////////////////#p_prof/////////////////////////////*/
    #update_prof
        {
            display: grid;
            grid-template-columns: auto auto;
    
        }
    #update_prof > *
        {
    
            width: 30px;
            height: 30px;
        }
    .pr_p
        {
            width: 25px;
            margin-right: 10px;
            margin-left: 30px;
        }    








        








        @media (max-width: 800px)
        {


            body
            {
                width:800px;
                width: 100%;
                height: 2050px; 
                display: flex;
                justify-content: center;
                font-family: Poppins;
            }
        #background
            {
                position: fixed;
                /*background-color: black;*/
                filter: blur(15px);
                background-image: url("images/mg.jpg");
        
                width:800px;
                height: 1200px;
            }   



            #homemiddle
            {
                /*z-index: 2;*/
                display: grid;
                grid-template-columns: auto auto ;
                height: 850px;
                /*grid-template-columns: auto auto auto auto auto auto;
                height: 570px;*/
                gap: 10px;
                align-items: center;
                justify-content: center;
                /*border: 1px solid white;*/
                /*box-shadow: 2px 2px 10px 1px rgb(41, 40, 40);*/
                top: 140px;
                width: 750px;
            }
        #homebottom
            {

                top: 1850px;
        
            }
    
    
    
            
        }        



